{# heredando header y footer#}
{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="w3-container w3-white w3-text-black w3-padding-32" id="navidad" style="max-width: 800px; margin: 0 auto;">

<div class="w3-content w3-padding" style="max-width:800px">

    <h1  style="text-shadow:1px 1px 0 #444;color:red;text-align:center">NAVIDAD</h1>


	<div class="container">

		<div class="mySlides">
			<div class="numbertext" >1 / 30</div>
			<img src="{% static 'img/n1.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">2 / 30</div>
			<img src="{% static 'img/n2.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">3 / 30</div>
			<img src="{% static 'img/n3.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">4 / 30</div>
			<img src="{% static 'img/n4.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">5 / 30</div>
			<img src="{% static 'img/n5.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">6 / 30</div>
			<img src="{% static 'img/n6.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">7 / 30</div>
			<img src="{% static 'img/n7.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">8 / 30</div>
			<img src="{% static 'img/n8.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">9 / 30</div>
			<img src="{% static 'img/n9.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">10 / 30</div>
			<img src="{% static 'img/n10.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">11 / 30</div>
			<img src="{% static 'img/n11.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">12 / 30</div>
			<img src="{% static 'img/n12.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">13 / 30</div>
			<img src="{% static 'img/n13.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">14 / 30</div>
			<img src="{% static 'img/n14.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">15 / 30</div>
			<img src="{% static 'img/n15.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">16 / 30</div>
			<img src="{% static 'img/n16.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">17 / 30</div>
			<img src="{% static 'img/n17.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">18 / 30</div>
			<img src="{% static 'img/n18.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">19 / 30</div>
			<img src="{% static 'img/n19.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">20 / 30</div>
			<img src="{% static 'img/n20.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">21 / 30</div>
			<img src="{% static 'img/n21.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">22 / 30</div>
			<img src="{% static 'img/n22.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">23 / 30</div>
			<img src="{% static 'img/n23.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">24 / 30</div>
			<img src="{% static 'img/n24.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">25 / 30</div>
			<img src="{% static 'img/n25.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">26 / 30</div>
			<img src="{% static 'img/n26.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">27 / 30</div>
			<img src="{% static 'img/n27.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">28 / 30</div>
			<img src="{% static 'img/N28.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">29 / 30</div>
			<img src="{% static 'img/n29.jpg' %}" style="width:100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">30 / 30</div>
			<img src="{% static 'img/n30.jpg' %}" style="width:100%">
		</div>

		<a class="prev" onclick="plusSlides(-1)">❮</a>
		<a class="next" onclick="plusSlides(1)">❯</a>

	</div>

	<div class="caption-container">
			<p id="caption"></p>
	</div>

	<div class="row">
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n1.jpg' %}"  style="width:100%"
            onclick="currentSlide(1)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n2.jpg' %}"  style="width:100%"
            onclick="currentSlide(2)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n3.jpg' %}"  style="width:100%"
            onclick="currentSlide(3)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n4.jpg' %}"  style="width:100%"
            onclick="currentSlide(4)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n5.jpg' %}"  style="width:100%"
            onclick="currentSlide(5)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n6.jpg' %}"  style="width:100%"
            onclick="currentSlide(6)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n7.jpg' %}"  style="width:100%"
            onclick="currentSlide(7)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n8.jpg' %}"  style="width:100%"
            onclick="currentSlide(8)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n9.jpg' %}"  style="width:100%"
            onclick="currentSlide(9)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n10.jpg' %}"  style="width:100%"
            onclick="currentSlide(10)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n11.jpg' %}"  style="width:100%"
            onclick="currentSlide(11)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n12.jpg' %}"  style="width:100%"
            onclick="currentSlide(12)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n13.jpg' %}"  style="width:100%"
            onclick="currentSlide(13)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n14.jpg' %}"  style="width:100%"
            onclick="currentSlide(14)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n15.jpg' %}"  style="width:100%"
            onclick="currentSlide(15)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n16.jpg' %}"  style="width:100%"
            onclick="currentSlide(16)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n17.jpg' %}"  style="width:100%"
            onclick="currentSlide(17)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n18.jpg' %}"  style="width:100%"
            onclick="currentSlide(18)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n19.jpg' %}"  style="width:100%"
            onclick="currentSlide(19)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n20.jpg' %}"  style="width:100%"
            onclick="currentSlide(20)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n21.jpg' %}"  style="width:100%"
            onclick="currentSlide(21)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n22.jpg' %}"  style="width:100%"
            onclick="currentSlide(22)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n23.jpg' %}"  style="width:100%"
            onclick="currentSlide(23)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n24.jpg' %}"  style="width:100%"
            onclick="currentSlide(24)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n25.jpg' %}"  style="width:100%"
            onclick="currentSlide(25)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n26.jpg' %}"  style="width:100%"
            onclick="currentSlide(26)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n27.jpg' %}"  style="width:100%"
            onclick="currentSlide(27)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/N28.jpg' %}" style="width:100%"
            onclick="currentSlide(28)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n29.jpg' %}"  style="width:100%"
            onclick="currentSlide(29)" alt=" ">
		</div>
		<div class="column">
			<img class="demo cursor" src="{% static 'img/n30.jpg' %}"  style="width:100%"
            onclick="currentSlide(30)" alt=" ">
		</div>


	</div>


</div>
</div>
<script>
      var slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides(slideIndex += n);
      }

      function currentSlide(n) {
        showSlides(slideIndex = n);
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");

        if (n > slides.length) { slideIndex = 1; }
        if (n < 1) { slideIndex = slides.length; }

        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }

        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }

        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
      }
  </script>




{% endblock %}
