{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="row">

  <div class="col-md-6">
    <video src="https://funsa.com.mx/video/funsa-todo-decoraciones.mp4" alt="video" width="100%">
  </div>
  <div class="col-md-6" style="">
    <h3> <b style="color:red;">FUNSA TODO DECORACIONES</b>, es la primera empresa navideña y de fiestas patrias en México, líder en la fabricación de decoraciones espectaculares para interiores y exteriores, que provee un servicio integral que va desde el concepto y diseño de su decoración e iluminación, hasta la fabricación de sus productos con materiales de alta calidad e innovación, que permiten cumplir con las más altas normas de seguridad.

</h3><h3>En FUNSA tenemos más de 55 años de experiencia siendo los principales fabricantes de festón y follaje, contamos con una exhibición permanente para que pueda cerciorarse de la calidad de nuestro trabajo.</h3>


  </div>

</div>
<h1></h1>
<br><br>
<div class="row">

  <div class="col-md-6" style="">

      <br><h3>¿POR QUÉ ELEGIRNOS?</h3> <br>

  <h4><li>Somos fabricantes, versátiles y orgullosamente Mexicanos.</li><p></p>
  <li>Nos adaptamos a todos los presupuestos.</li><p></p>
  <li>Entregamos en todo México y en el mundo.</li><p></p>
  <li>Proveemos un servicio completo de decoración e iluminación.</li><p></p>
  <li>Le acompañamos en todo el proceso.</li><p></p>
  <li>Decoraciones que lucen espectaculares las 24 horas del día.</li><p></p>
  <li>Utilizamos materiales durables y de calidad.</li><p></p>
  <li>Única empresa con material NO FLAMABLE, con nosotros no se queman.</li><p></p>
  <li>Diseñamos el proyecto y planeamos con usted la decoración exacta para sus necesidades.</li><p></p>
  <li>Realizamos y asesoramos la instalación de nuestros productos.</li><p></p>
  <li>Nos mantenemos en contacto por visitas personales, teléfono, correo electrónico y whatsapp.</li><p></p></h4>


    </div>
    <div class="col-md-6">
      <img src="{% static 'img/imagen_fija.jpg' %}" alt="ImagenNa" style="width:100%;">
  </div>
</div>
{% endblock %}
