{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1 style="text-align:center;"><b>Aviso de Privacidad</b></h1><br>
    <h3><p>En cumplimiento a las disposiciones de la Ley Federal de Protección de Datos en Posesión de Particulares hacemos de su conocimiento que FUNSA y TODO DECORACIONES NAVIDEÑAS Y PATRIAS, S.A. DE C.V. son responsables del uso, tratamiento y protección de aquellos datos personales a que tuvieran acceso para brindarle algún servicio.
    </p></h3>
    <h3><p>FUNSA y TODO DECORACIONES NAVIDEÑAS Y PATRIAS, S.A. DE C.V.
      Av. Emiliano Zapata No. 100 - San Francisco Soyaniquilpan, Estado de México 54280
      Tel.: 761-735-3084 - 800-7777-FUN (386) - correo electrónico: aviso@funsa.com.mx</p></h3>
      <h3><p>Datos de contacto:</p></h3>
      <h3><p>Sus datos personales serán utilizados para las finalidades siguientes:</p></h3>
      <h3><p>Para brindar información al público en general de los productos y servicios de las Empresas antes mencionadas.<br>
        Proveer los servicios y productos requeridos por usted.<br>
        Desarrollar nuevos productos y servicios, así como para la evaluación de los mismos.<br>
        Informar respecto de promociones, ofertas, novedades y eventos especiales.<br>
        Envío de publicidad bajo cualquier medio de comunicación, incluyendo correo directo, banners y dispositivos móviles.<br>
        Implementación de mejoras en productos y servicios.<br>
        Atención al cliente.<br>
        Boletines de noticias.</p></h3>
      <h3><p>Para las finalidades señaladas en el presente aviso de privacidad, se recopilará la información de manera directa cuando usted mismo nos los proporciona de manera personal en nuestras instalaciones, por vía telefónica o bien, cuando nos la envía por medio del formulario de contacto disponible en nuestra dirección:
        <br>www.funsa.com.mx</p></h3>
      <h3><p>Haciendo la aclaración de que por ninguna de las formas señaladas en el párrafo anterior se recaban datos personales sensibles.</p></h3>
      <h3><p>Recabamos los siguientes datos:</p></h3>
      <h3><p>Nombre, teléfonos, datos de su empresa, dirección, ocupación, dirección de correo electrónico, y datos fiscales necesarios para facturación, en caso necesario.</p></h3>
      <h3><p>No recolectará ninguna información de los visitantes a nuestras páginas a menos que nos suministren su Información Personal de manera voluntaria y sólo requeriremos la información necesaria para participar en las actividades de nuestras páginas Web. Cuando usted decide suministrarnos su Información Personal, nos está autorizando a usarla de acuerdo con los términos de esta Política de Privacidad, que incluye su derecho a limitar nuestro uso de su Información Personal, tal como está descripto en esta Política.</p></h3>
      <h3><p>Para cumplir con lo anterior, contamos con controles internos en el manejo de datos y medidas de seguridad, que mantienen su información personal a salvo, sus datos personales se procesan a través de sistemas de redes seguros y solamente puede acceder a ella un número limitado de personas con derechos especiales, a quienes se les exige que mantengan dicha información confidencial.</p></h3>
      <h3><p>No transferimos sus datos a terceros.</p></h3>
      <h3><p>Ejercicio derechos ARCO</p></h3>
      <h3><p>Usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya otorgado, pudiendo solicitar la corrección de sus datos, en caso de que esté desactualizada, sea inexacta o incompleta; que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada conforme a los principios, deberes y obligaciones contemplados en el presente Aviso de Privacidad; así como oponerse al uso de sus datos personales para fines específicos, a través de los procedimientos para tal efecto implementados.</p></h3>
      <h3><p>Para conocer los procedimientos, requisitos y plazos para acceder, rectificar y cancelas sus datos, puede contactar a nuestra área de protección de datos de manera personal, previa cita en las oficinas de FUNSA y TODO DECORACIONES NAVIDEÑAS Y PATRIAS, S.A. DE C.V.<br>
        Av. Emiliano Zapata No. 100 - San Francisco Soyaniquilpan, Estado de México 54280
        Tel.: 761-735-3084 - 800-7777-FUN (386) - correo electrónico: aviso@funsa.com.mx</p></h3>
      <h3><p>Enlaces a otras páginas Web</p></h3>
      <h3><p>Los usuarios deben saber que al acceder a este sitio pueden ser direccionados a otros sitios que son parte de nuestras promociones en Internet.</p></h3>
      <h3><p>Cambios al aviso de privacidad</p></h3>
      <h3><p>El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos, de nuestras prácticas de privacidad o por cambios en nuestro modelo de actividades.</p></h3>
      <h3><p>En caso de que existan cambios en las finalidades arriba mencionadas, pondremos a su disposición un nuevo aviso de privacidad que describirá las nuevas características de tratamiento y podrá ser consultada a través de nuestra página web
      <br>  http://www.funsa.com.mx</p></h3>
      <h3><p>Copyright @ FUNSA, TODO DECORACIONES NAVIDEÑAS Y PATRIAS, S.A. DE C.V.</p></h3>
      <h3><p>Este es el sitio web oficial de FUNSA, TODO DECORACIONES NAVIDEÑAS Y PATRIAS, S.A. DE C.V.</p></h3>
      <h3><p>Los videos o imágenes gráficas no se deben descargar ni copiar sin el permiso expreso por escrito de FUNSA, TODO DECORACIONES NAVIDEÑAS Y PATRIAS, S.A. DE C.V. Nuestros diseños están registrados y protegidos por INDAUTOR</p></h3>




  </div>
  <div class="col-md-3"></div>
</div>
{% endblock %}
